<div class="background">
  <div class="wrapper">
    <%= link_to new_position_path do%>
      <i class="fas fa-plus"></i>
    <% end %>
    <h3 id="title-wrapper">Votre Portefeuille Titres</h3>
    <% if @positions.present? %>

    <% else %>
      <p>Votre portefeuille est actuellement vide.</p>
    <% end %>
  </div>
</div>
